<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eBelgem</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- Section 1 -->
<section class="w-full px-8 text-gray-700 bg-white">
    <div class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
        <div class="relative flex flex-col md:flex-row">
            <a href="#_" class="flex items-center mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0">
                <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none">ebelgem<span class="text-indigo-600">.</span></span>
            </a>
            <nav class="flex flex-wrap items-center mb-5 text-base md:mb-0 md:pl-8 md:ml-8 md:border-l md:border-gray-200">
                <a href="#" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Anasayfa</a>
                <a href="#features" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Özellikler</a>
                <a href="#pricing" class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900">Fiyatlandırma</a>
            </nav>
        </div>

        <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
            <a href="/signin" class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-900">
                Giriş Yap
            </a>
            <a href="/signup" class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">
                Kayıt Ol
            </a>
        </div>
    </div>
</section>
    <div class="container mx-auto p-6 bg-whiterounded-lg">
        <h1 class="text-4xl font-bold mb-4">Mesafeli Satış Sözleşmesi</h1>

        <h2 class="text-2xl font-semibold mb-3">MADDE 1 - TARAFLAR:</h2>
        <p class="mb-4">
            <strong>SATICI</strong><br>
            Unvanı: Özhan Bilişim Limited Şirketi<br>
            Mersis Numarası: 0694066155300001<br>
            Adresi: Çamlıca Mah. Özeke Sk. C Blok No: 5C İç Kapı No: 2 Nilüfer Bursa<br>
            Telefon: [Şirket Telefonu]<br>
            Web Adresi: <a href="https://www.ebelgem.net" class="text-blue-500 underline">https://www.ebelgem.net</a><br>
            E-posta: bilgi@ebelgem.net
        </p>
        <p class="mb-4">
            <strong>ALICI:</strong><br>
            ebelgem firmasından hizmet satın alan kişileri ifade eder.<br>
            Adı: <br>
            Soyadı: <br>
            Telefon: <br>
            Adres: <br>
            Elektronik posta adresi:
        </p>

        <h2 class="text-2xl font-semibold mb-3">MADDE 2 - SÖZLEŞMENİN KONUSU:</h2>
        <p class="mb-4">
            İşbu sözleşmenin konusu, sözleşmenin üçüncü maddesinde özellikleri ve satış fiyatı belirtilen dijital hizmet ile ilgili
            olarak tarafların hak ve yükümlülüklerinin tespitidir. İşbu sözleşme, 6502 sayılı Tüketicinin Korunması Hakkında
            Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümlerine uygun olarak düzenlenmiştir. İşbu sözleşmenin tarafları,
            Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği’nden kaynaklanan yükümlülük ve
            sorumluluklarını bildiklerini ve anladıklarını kabul ve beyan ederler. İşbu sözleşme, ALICI’nın işbu sözleşme ile
            belirlenen dijital hizmetleri temin etmesine yöneliktir.
        </p>

        <h2 class="text-2xl font-semibold mb-3">MADDE 3 – HİZMET BİLGİLERİ</h2>
        <p class="mb-4">
            Aşağıda detayları belirtilen hizmete ilişkin siparişinizi onaylayarak ilgili hizmeti aşağıdaki fiyat ve koşullarla satın
            almayı kabul etmektesiniz.
        </p>
        <ul class="list-disc list-inside mb-4">
            <li><strong>Hizmet Türü ve Açıklaması:</strong> …………. </li>
            <li><strong>Hizmet Ücreti (KDV ve her türlü masraf dâhil):</strong> …………………. </li>
            <li><strong>Ödeme Şekli:</strong> …………… </li>
            <li><strong>Hizmetin Sunulma Süresi:</strong> ………….. </li>
            <li><strong>Diğer Masraflar:</strong> ……………. </li>
        </ul>

        <h2 class="text-2xl font-semibold mb-3">MADDE 4 - GENEL HÜKÜMLER:</h2>
        <ul class="list-disc list-inside mb-4">
            <li>İşbu sözleşme, tarafları ALICI ile SATICI olup, sözleşmenin yerine getirilmesi ile ilgili tüm yükümlülük ve
                sorumluluklar taraflara aittir. Sözleşme, ALICI tarafından elektronik olarak onaylandığı tarihte yürürlüğe girer.
            </li>
            <li>ALICI, Madde 3'te belirtilen sözleşme konusu hizmetin özellikleri ve satışa ilişkin koşulları ile ilgili tüm bilgileri
                okuduğunu ve anladığını, bu hizmetin satın alınması için gerekli onayı verdiğini kabul, beyan ve taahhüt eder.
            </li>
            <li>SATICI, sözleşme konusu hizmetin sağlanmasından ve dijital ortamda eksiksiz sunulmasından sorumludur.
            </li>
            <li>Sözleşme konusu hizmet, ALICI’nın belirttiği elektronik posta adresine veya SATICI’nın dijital platformu aracılığıyla sağlanacaktır.
            </li>
            <li>Herhangi bir nedenle hizmet bedeli ödenmez veya banka kayıtlarında iptal edilirse, SATICI hizmeti sunma
                yükümlülüğünden kurtulmuş kabul edilir.
            </li>
            <li>ALICI, vadeli satışların sadece bankalara ait kredi kartları ile yapılması nedeniyle; ilgili faiz oranlarını ve temerrüt
                faizi ile ilgili bilgileri bankasından ayrıca teyit etmesi gerektiğini bildiğini kabul etmektedir.
            </li>
            <li>ALICI, yürürlükte bulunan mevzuat hükümleri gereğince faiz ve temerrüt faizi ile ilgili hükümlerin banka ve ALICI
                arasındaki kredi kartı sözleşmesi kapsamında uygulanacağını kabul, beyan ve taahhüt eder.
            </li>
            <li>SATICI, ALICI tarafından kendisine iletilen her türden kişisel bilgileri, bilgilerin toplanması ile ilgili açıklanan
                amaçlar ve SATICI’nın işbu sözleşme ve nitelikli elektronik sertifika teminine ilişkin faaliyetleri dışında üçüncü
                kişilerle paylaşmayacak ve bu türden kişisel bilgileri 3. kişilere satmayacak ya da açıklamayacaktır ve hiçbir şart
                altında kullanılmasına da izin vermeyecektir. ALICI tarafından sağlanan bilgiler, ALICI, ortakları ve işbirliği içinde
                olduğu kişi ya da kurumlar tarafından üyenin kimliği ifşa edilmeksizin çeşitli istatistiksel değerlendirmeler yapma,
                veri tabanı oluşturma ve/veya pazar araştırmalarında ve ALICI’dan izin alındığı takdirde ürün ve hizmetlere ilişkin
                bilgilendirme yapılması amacıyla kullanılabilir. Kişisel bilgiler; ad ve soyad, adres, telefon numarası, elektronik
                posta adresi ve ALICI’yı tanımlamaya yönelik diğer her türlü bilgi olarak anlaşılır. SATICI, kişisel bilgileri kesinlikle
                gizli tutmayı, bu konuda sır saklama yükümü altında olduğunu addetmeyi ve gizliliğin sağlanması ve sürdürülmesi
                amacıyla işbu sözleşme ile belirlenen istisnalar dışında gizli bilginin tamamının veya herhangi bir kısmının yetkisiz
                kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tüm tedbirleri almayı ve bu yönde gereken özeni
                göstermeyi taahhüt etmektedir.
            </li>
        </ul>

        <h2 class="text-2xl font-semibold mb-3">MADDE 5 - CAYMA HAKKI:</h2>
        <p class="mb-4">
            ALICI, sözleşmeye konu hizmetlere ilişkin olarak işbu sözleşmenin kurulduğu günden itibaren on dört gün içerisinde
            hiçbir hukuki ve cezai sorumluluk üstlenmeksizin, hiçbir gerekçe göstermeksizin sözleşmeden cayma hakkına sahiptir.
            ALICI, geçerli süre içerisinde cayma hakkını kullanmak istediğine dair beyanını SATICI’ya sözleşme ekinde yer alan
            örnek cayma hakkı formu ile ya da sözleşmede belirtilen iletişim yöntemlerinden herhangi biri ile iletecektir. ALICI’nın
            cayma bildiriminin SATICI’ya ulaştığı tarihten itibaren 10 gün içinde hizmet bedeli ALICI'ya iade edilir. Ancak,
            ebelgem'in sunduğu hizmetler dijital içerik veya kişisel ihtiyaçlar doğrultusunda hazırlanan hizmetler kategorisine
            girdiğinden, hizmetin ifasına başlandıktan sonra cayma hakkı kullanılamaz. 29188 sayılı Mesafeli Sözleşmeler
            Yönetmeliği Mad.15/b gereğince; ALICI’nın istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan dijital
            hizmetlerde cayma hakkını kullanamaz.
        </p>

        <h2 class="text-2xl font-semibold mb-3">MADDE 6 - TEMERRÜT HÜKÜMLERİ:</h2>
        <ul class="list-disc list-inside mb-4">
            <li>Tarafların işbu sözleşmeden kaynaklanan edimlerini yerine getirmemesi durumunda Borçlar Kanunu’nda yer alan
                Borçlunun Temerrüdü hükümleri uygulanacaktır. Temerrüt durumlarında, herhangi bir tarafın edimlerini süresi
                içinde haklı bir sebebi olmaksızın yerine getirmemesi durumunda diğer taraf, söz konusu edimin yerine
                getirilmesi için edimini yerine getirmeyen tarafa 7 günlük süre verecektir. Bu süre zarfında da yerine
                getirilmemesi durumunda edimini yerine getirmeyen taraftan edimin ifasını talep etmek suretiyle hizmetin
                sunulmasını ve/veya sözleşmenin feshini ve bedelin iadesini talep etme hakkı doğacaktır.
            </li>
            <li>SATICI’nın yükümlülüğünü yerine getirmesini engelleyebilecek mücbir sebeplerin varlığı veya dijital hizmetlerin
                sağlanmasını engelleyen teknik arızalar, siber saldırılar, internet kesintileri gibi olağanüstü olaylar nedeni ile
                sözleşme konusu hizmetin süresi içerisinde sunulamaması halinde; bu tip durumlarda ALICI, SATICI’nın hiçbir
                sorumluluğu olmadığını, siparişin iptal edilmesini veya hizmetin sunulmasının engelleyici durumunun ortadan
                kalkmasına kadar ertelenmesini talep edebilir. ALICI’nın siparişi iptal etmesi halinde ödediği tutar 10 (on) gün
                içerisinde kendisine iade edilir.
            </li>
        </ul>

        <h2 class="text-2xl font-semibold mb-3">MADDE 7 - YETKİLİ MAHKEME:</h2>
        <p class="mb-4">
            İşbu sözleşme ile ilgili çıkacak ihtilaflarda her yıl Gümrük ve Ticaret Bakanlığı tarafından ilan edilen değere kadar
            [İl/İlçe] Tüketici Sorunları Hakem Heyetleri, söz konusu değerin üzerindeki ihtilaflarda ise [İl/İlçe] Mahkemeleri yetkilidir.
        </p>
        <p class="mb-4">İşbu sözleşme ……………….…. tarihinde düzenlenmiştir.</p>

        <h2 class="text-2xl font-semibold mb-3">EK-1 CAYMA FORMU</h2>
        <p class="mb-4">
            Ünvanı : Özhan Bilişim Limited Şirketi<br>
            Adres : Çamlıca Mah. Özeke Sk. C Blok No: 5C İç Kapı No: 2 Nilüfer Bursa<br>
            Mersis Numarası: 0694066155300001<br>
            Telefon: [Şirket Telefonu]<br>
            Web Adresi: <a href="https://www.ebelgem.net" class="text-blue-500 underline">https://www.ebelgem.net</a><br>
            Email: bilgi@ebelgem.net<br>
        </p>
        <p class="mb-4">
            Bu formla aşağıdaki dijital hizmetlerin sunulmasına ilişkin sözleşmeden cayma hakkımı kullandığımı beyan ederim.
        </p>
        <ul class="list-disc list-inside mb-4">
            <li>Sipariş tarihi veya hizmetin sunulma tarihi: …………. </li>
            <li>Cayma hakkına konu dijital hizmet: …………. </li>
            <li>Cayma hakkına konu dijital hizmetin bedeli: …………. </li>
            <li>ALICI’nın adı ve soyadı: ………… </li>
            <li>ALICI’nın TC Kimlik No: ……… </li>
            <li>ALICI’nın telefonu: ……….. </li>
            <li>ALICI’nın adresi:…….. </li>
            <li>ALICI’nın imzası: (Sadece kağıt üzerinde gönderilmesi halinde) </li>
            <li>Tarih: ……….. </li>
        </ul>
    </div>
</body>
</html>